*__pycache__*
*egg-info*
outputs*
multirun*
cross_eval/*
saves*
_saves*
log
venv
.temp
.DS_Store

*.swp
submitit_logs

user_defined_freezies/*.npy
.idea
wandb
.DS_Store
wandb_cache
wandb_output_*

error_logs
output_logs
notebook/.temp
/LM_weights/
/encoder_ckpts*/
vision_level_gpt

pcgrl_buffer

.env
vision_level_gpt.zip
human_dataset*

batch_planner/
batch_sets/
levels_*/
levels/
umap_encoder_ckpts/
umap_saves/
episode_dataset
cache/
!dataset/multigame/cache/
!dataset/multigame/cache/**
human_trajectory_data/
llm_trajectory_data/
human_trajectory_cache/

# 렌더링 부산물
tests/render_samples/
pretrained_encoders/*
!pretrained_encoders/vipcgrl_sample/
pretrained_encoders/vipcgrl_sample/.DS_Store

# LLM API 배치
dataset/reward_annotations/batches/*

#실수로 덮어쓰는거 방지
CLAUDE.md

wandb_download